certifi
paho-mqtt
PyYAML
RPi.Gpio
gpiozero
fastapi
fastapi-mqtt
fastapi-utils
gunicorn
uvicorn[standard]
# PyDispatcher
pydantic
# psycopg2
psycopg2-binary
sqlalchemy
sqlalchemy-utils
python-box
dependency-injector
pydantic_sqlalchemy
requests
ujson